/*
========================
Colors
========================
*/

/* dark shades of primary color */
$clr-primary-1: rgb(50, 128, 110);
$clr-primary-2: #3a9580;
$clr-primary-3: #43ab93;
$clr-primary-4: #4bc0a5;
/* primary/main color */
$clr-primary-5: #54d6b8;
/* lighter shades of primary color */
$clr-primary-6: #65dabf;
$clr-primary-7: #76dec6;
$clr-primary-8: #87e2cd;
$clr-primary-9: #98e6d4;
$clr-primary-10: #b7fbeb;
/* secondary color */
$clr-secondary-1: rgb(130, 94, 46);
/* darkest grey - used for headings */
$clr-grey-1: #09372c;
$clr-grey-2: #0c4537;
$clr-grey-3: #24574b;
$clr-grey-4: #3c6a5f;
/* grey used for paragraphs */
$clr-grey-5: #547c73;
$clr-grey-6: #6d8f87;
$clr-grey-7: #85a29b;
$clr-grey-8: #9db4af;
$clr-grey-9: #b6c7c3;
$clr-grey-10: #e7f9f6;

// header background
$clr-grey-11: #333333;
// header text
$clr-white-12: #b7b6b6;
// hover black
$clr-black-1: #0d0d0d;
// heading
$clr-gold-brown: #c19b76;
$clr-gold-brown-1: #bb8c5d;
// paragraph - background-hover black
$clr-para: #878787;
// section background
$clr-dark-grey-1: #232323;
$clr-grey-12: #efefef;
$clr-grey-13: #e9ecef;
$clr-grey-14: #e2e2e2;

/* white/black */
$clr-white: #ffffff;
$clr-black: #222222;

/* banner notifications */
$clr-red-dark: #ff1947;
$clr-red-light: #ffdbe3;
$clr-green-dark: #047b04;
$clr-green-light: #cdffcd;
$clr-yellow-dark: #776e00;
$clr-yellow-light: #ffffc7;
$clr-pink-dark: #ff33e4;
$clr-brown-dark: #812205;
$clr-purple-dark: #8b06e4;
